.graphic1{
    width: 90%;
    /*border: 1px solid #fff;*/
    /*background-color: #6B99A6;*/
    margin: 0 auto 0 auto;
    animation: expanding 1.5s ease;
    /*animation-duration: ;*/
    transform-origin: center top;
    
/*    animation-timing-function: linear;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;*/
    height: 460px;
}
@keyframes expanding{
    0%{
        height:0;
        opacity:0;
        transform: scale3d(0, 0, 0);
    }
/*    94%{
        opacity:0;
        transform: scale3d(0, 0, 0);
    }
    95%{
        transform: scale3d(.75, .75, 1);
    }*/
    100%{
        height:460px;
        opacity:1;
        transform: scale3d(1, 1, 1);
    }
}

