.left_side{
    display: flex;
    position: relative;
    flex-grow: 10;
    flex-basis: 360px;
    background-color: #B5CCD2;
    min-height: 300px;
    margin: 5px;
    text-align: center;
}
.main_area{
    flex-basis: 800px;
    flex-grow: 10;
    position: relative;
    background-color: #fff;
    min-height: 300px;
    margin: 5px;
}
.component{
    flex-basis: 100px;
    flex-grow: 10;
    position: relative;
    background-color: #fff;
    min-height: 300px;
    margin: 5px;
}
.right_side{
    flex-basis: 300px;
    flex-grow: 10;
    position: relative;
    background-color: #fff;
    min-height: 300px;
    margin: 5px;
}
.buy_component{
    position: relative;
    background: #FF7F00;
    padding:.5em 2em;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 5px auto;
}
.buy_component:hover{
    background: #21687B;
}
.buy_component hr{
    margin: 3px 0;
    background-color: #fff;
    border-style:solid;
}
.modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
}
.modal-content{
    background-color: #f4f4f4;
    margin: 15% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
.closeBtn{
    color: #FFFFFF;
    float: right;
    font-size: 30px;
}
.closeBtn:hover{
    color: #21687B;
    text-decoration: none;
    cursor: pointer;
}
@keyframes modalopen{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.modal-header{
    background: #FF7F00;
    padding: 15px;
    color: #ffffff;    
}
.modal-header h2, .modal-footer h3{
    margin: 0;
}
.modal-body{
    padding: 10px 20px;
    
}
.modal-footer{
    background: #FF7F00;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}
.yes_btn{
    position: relative;
    background: #FF7F00;
    padding:.6em 2em;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 10px auto;
    font-size: 20px;    
}
.yes_btn:hover{
    background: #F9BA7A;
    color: #000;
}
.no_btn{
     position: relative;
    background: #21687B;
    padding:.6em 2em;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 10px auto;
    font-size: 20px;    
}
.no_btn:hover{
    background: #8BAEB8;
    color:#000;
}
/*=============== component============*/
.main_area svg{
    max-width: 700px;
    max-height: 500px;
}
svg{
    position: relative;
    max-width: 90px;
    max-height: 90px;
    margin: 10px;
    text-align: center;
    /*border: 1px solid #000;*/
}
.objects{
    position: relative;
     max-width: 90px;
    max-height: 90px;
    margin: 0 auto;
}
.objects svg{
    width: 110px;
    height: 110px;    
}
#new_element{
    float: left;
    width: 185px;
    height: 145px;
    margin: 5px;
    border: 3px solid #21687B;
    display: none;
    /*text-align: center;*/
    position: relative;
    /*z-index: 3;*/
}
#txt_span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
}
.st1:hover{
    fill: #7C0701;
}
.st1{
    position: relative;
/*    width: 60px;
    height: 65px;*/
}
.draggable polygon:hover{
    cursor: move;
    /*box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);*/
}
#shapes{
    position: relative;
    max-height: 700px;
    overflow: auto;
}
#tickets{
    max-height: 700px;
    overflow: auto;
}
.dashboard{
    position: relative;
    width: 100%;
    background: #35475E;
    height: 110px;
    border: 3px solid #21687B;
        
        
}
.credit{
    position: absolute;
    color: #FFFFFF;
    float: left;
    bottom: 5px;
    left: 5px;
}
.credit span:first-child{
    color: #59DE6F;
    font-size: 25px;
}
#money{
    color: #59DE6F;
    font-size: 25px;
}
.earn{
    position: absolute;
    color: #FFFFFF;
    float: right;
    bottom: 5px;
    right: 5px;
}
.earn span:first-child{
    color: #F04848;
    font-size: 35px;
}
.timming{
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
}
.clock{
    color: #FFF;
}
#drop_zone{
    position: absolute;
    width: 890px;
    height: 650px;
    /*background: #F9BA7A;*/
    z-index: 1;
    top: 110px;
}