.hero form{
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: #21687B;
    padding: 3%;
    position: relative;
    z-index: 200;
}
.pro_main{
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: #21687B;
    padding: 3% 3% 0 3%;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
}
input[type="text"], input[type="password"]{
    padding: 8px 2%;
    width: 100%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    
}
input[type="date"]{
    padding: 4px 2%;
    width: 75%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}
input[type="tel"]{
    padding: 8px 2%;
    width: 60%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}
label{
    font-size: 20px;
    width: 96%;
    color: #fff;
}
.btn_4{
    background-color: #FF7F00;
    color: #2B2B2B;
    font-size: 18px;
    border: none;
    padding: 8px 2%;
    margin-top: 5px;
    width: 100%;
}
textArea{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    padding: 4px;
    font-size: 16px;
    border: none;
}
/*==================checkbox style========*/
input[type = "checkbox"] + label{
    display: block;
    margin:0.2em;
    cursor: pointer;
    padding: 0.2em;
}
input[type = "checkbox"]{
    display: none;
}
input[type="checkbox"] + label:before{
    content: "\2714";
    border: 0.1em solid #ffffff;
    display:inline-block;
    border-radius:0.2em;
    background-color: #6395A2;
    /*opacity: 0.3;*/
    width:1em;
    height:1em;
    padding-left:0.2em;
    padding-bottom:0.4em;
    margin-right:0.3em;
    vertical-align: bottom;
    color:transparent;
    transition: .2s;
}
input[type="checkbox"] + label:active:before{
    transform: scale(0);
}

input[type="checkbox"]:checked + label:before{
   background-color: #FF7F00;
   color:#ffffff;
   opacity: 1;
   border: 0.1em solid #FF7F00;
}
/*================Errors Comments===============*/
#errors{
    margin-top: 10px;
    padding: 0 10px 0 10px;
    background-color:#E8D4D3;
    margin-bottom: 10px;
    position: relative;
}
#form_extra{
    margin: 10px;
}
#form_extra a{
    color: #fff;
}
/*====================== progress bar ==============*/
 .hero .progressbar {
      counter-reset: step;
  }
 .hero .progressbar li {
      list-style-type: none;
      width: 33.33%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #B5CCD2;
  }
.hero .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #6B99A6;
  }
.hero .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .hero .progressbar li:first-child:after {
      content: none;
  }
  .hero .progressbar li.active {
      color: #fff;
  }
  .hero .progressbar li.active:before {
      border-color: #55c632;
      background-color: #3A8722;
  }
  .hero .progressbar li.active + li:after {
      background-color: #55c632;
  }

  .clear{
      clear: both;
  }
/*=================Tablet Screen style=============*/
@media screen and (min-width:600px){
    .hero form{
        width: 60%;
    }
    .pro_main{
        width: 60%;
    }
}
@media screen and (min-width:800px){
    .hero form{
        width: 40%;
    }
    .pro_main{
        width: 40%;
    }
}
@media screen and (min-width:1000px){
    .hero form{
        width: 30%;
    }
    .pro_main{
        width: 30%;
        padding: 2% 2% 0 2%;
    }
}
