*{
    box-sizing: border-box;
}
.pro_main{
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: #21687B;
    padding: 3% 3% 0 3%;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
}
h1{
    margin: 0;
    padding: 5px;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
    background-color:#343741;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: absolute;
    height: 45px;
    width: 100%;
    background-color: #111215;
    z-index: 300;
}
.logo{
    width: 175px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*==================Edit button===================*/
.edit_button_email{ 
    position: relative;
    float: right;
    font-size: 20px;
    color: #FF7F00;
}
.edit_button_phone{
    position: relative;
    float: right;
    font-size: 20px;
    color: #FF7F00;
}
.edit_button_address{
    position: relative;
    float: right;
    font-size: 20px;
    color: #FF7F00;
}
.edit_button_pass{
    position: relative;
    float: right;
    font-size: 20px;
    color: #FF7F00;
}
#pro_email.visible{
    display: block;
}
#pro_email{
    display: none;
}
#pro_phone.visible{
    display: block;
}
#pro_phone{
    display: none;
}
#pro_address.visible{
    display: block;
}
#pro_address{
    display: none;
}
#pro_pass.visible{
    display: block;
}
#pro_pass{
    display: none;
}
/*=====================================*/
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 25px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}

/*==========Top navigation===========*/
.top-nav.visible{
    display: block;
}
.top-nav{
    /*position: absolute;*/
    width: 100%;
    background-color: #35475e;
    /*height: 100vh;*/
    z-index: 200;
    display: none;
    margin-top: 45px;
}

.top-nav ul{
    /*list-style: none;*/
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    padding: 18px 10px;
    border-bottom: 1px solid #2d3d51;
    position: relative;
}
.top-nav ul li.active:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FF7F00;
}
.top-nav ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    /*text-align: left;*/
}
.top-nav ul li i{
    color: #FF7F00;
    font-size: 25px;
    min-width: 30px;
    text-align: center;
}
.top-nav ul li samp:nth-child(2){
    margin-left: 4px;
    font-size: 20px;
    font-weight: 500;
}
/*=========== main content styles ================*/
.main-content {
    margin-top: 0;
    padding: 0;
    padding-top: 44px;
    height: 100%;
    /*overflow: scroll;*/
    /*z-index: 1*/
    position: relative;
}
.main-content .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 400;
    color: #333;
    font-size: 18px;
}
/*===========Profile main content styles ================*/
.user-main-content {
    margin-top: 0;
    padding: 0;
    padding-top: 44px;
    height: 100%;
    /*overflow: scroll;*/
    z-index: 1
}
.user-main-content .title {
    background-color: #2d3d51;
    /*border-bottom: 1px solid #b8bec9;*/
    padding: 10px 20px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
}
/* main box container */
.main {
    display: flex;
    flex-flow: row wrap;
}
.widget {
    flex-basis: 300px;
    flex-grow: 10;
    min-height: 300px;
    margin: 5px;
    /*border-radius: 6px;*/
    background-color: #ffffff;
    position: relative;
}
.pro_widget{
    flex-basis: 170px;
    flex-grow: 10;
    /*min-height: 300px;*/
    margin: 5px;
    position: relative;
    /*border: 1px solid #fff;*/
    color: #fff;
}
.pro_widget p{
    margin: 0;
    color: #fff;
}
.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #617085;
    font-weight: 500;
}
.widget .chart{
    /*background-color: #617085;*/
    padding: 20px;
    
}
.chart label{
    color: #000;
    font-size: 18px;
}
.chart ul{
    list-style: none;
}
.chart ul li{
    font-size: 18px;
}
.hero{
    background-color: #35475E;
    width: 100%;
    /*height: auto;*/
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 100;
}
#comments{
    width: 100%;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}
#comments h1{
    font-size: 1.5em;
}
/*=====================Middle page navigation===============*/
.hero ul{
    margin-top: 20px;
    padding-left: 0;
}
.hero ul li{
    margin: 10px auto 10px auto;
    display: block;
    font-size: 20px;
    width: 250px;
}
.hero ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 0;
}
.hero .btn_2{
    background-color: #FF7F00;
}
.hero .btn_2 a{
    color: #121212;
}
.hero .btn_2:hover{
    background-color: #fff;
}
.hero .btn_2 a:hover{
    color: #2d3d51;
    font-weight: 700;
}
.hero .btn_3{
    background-color: #21687B;
}
.hero .btn_3 a{
    color: #fff;
}
.hero .btn_3:hover{
    background-color: #fff;
}
.hero .btn_3 a:hover{
    color: #2d3d51;
    font-weight: 700;
}
/*====================Tablet Screen size==================*/

@media screen and (min-width: 600px){
    .nav-trigger{
        display: none;
    }
     .top-nav{
        width: 80px;
        display: block;
        z-index: 1;
        height: 100vh;
    }
    .top-nav ul li {
        text-align: center;
    }
    .top-nav ul li samp:nth-child(2){
        display: none;
    }
    .top-nav ul li a i {
        font-size: 30px;
        width: 30px;
        text-align: center;        
    }
    .top-nav ul li a{
        text-align: center;
    }
    .main-content{
        margin-left: 80px;
    }
    .user-main-content{
        margin-left: 80px;
    }
    #comments{
        margin: 0 auto 0 auto;
        width: 80%;
        padding: 20px;
    }
    #comments h1{
        font-size: 2em;
    }
}
@media screen and (min-width: 800px){
    .logo{
    width: 175px;
    margin: 0;
    top: 0;
    left: 6%;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    float: left;
    }
    .top-nav{
        width:60%;
        float: right;
        /*display: inline;*/
        height: 45px;
        margin-top: 15px;
        background: none;
        position: relative;
        right: 6%;
    }
    .top-nav ul{
        float: right;
        
    }
    .top-nav ul li{
        position: relative;
        display: inline;
        /*float: right;*/
        border-bottom:none;
        padding: 10px 5px;
    }
    
    .top-nav ul li a{
        /*text-align: left;*/
        display: inline;
        
    }
    .top-nav ul li samp:nth-child(2){
        display: inline;
        margin-left: 0;
    }
    .top-nav ul li a i {
        font-size: 18px;
    }
    .top-nav.visible{
    display: inline;
    }
    .top-nav ul li.active:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 37px;
    left: 0;
    background-color: #FF7F00;
    }
    .main-content{
        margin-left: 0;
    }
    .user-main-content{
        margin-left: 220px;
    }
    #comments{
        width: 60%;
    }
    #comments h1{
        font-size: 2.6em;
    }
    .hero ul li{
        display: inline-block;
    }
    .test_div{
        width: 50%;
    }
}