.side-nav.visible{
    display: block;
}
.side-nav{
    position: absolute;
    width: 100%;
    background-color: #35475e;
    padding-top: 45px;
    z-index: 1;
    display: none;
}
.side-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-nav ul li {
    padding: 18px 10px;
    border-bottom: 1px solid #2d3d51;
    position: relative;
}
.side-nav ul li.active:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FF7F00;
}
.side-nav ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    
}
.side-nav ul li i {
    color: #FF7F00;
    font-size: 20px;
    min-width: 20px;
    text-align: center;
}
.side-nav ul li samp:nth-child(2){
    margin-left: 4px;
    font-weight: 400;
    font-size: 18px;
}


@media screen and (min-width: 600px){
     .side-nav{
        width: 80px;
        display: block;
        z-index: 1;
        height: 100vh;
    }
    .side-nav ul li {
        text-align: center;
    }
    .side-nav ul li samp:nth-child(2){
        display: none;
    }
    .side-nav ul li a i {
        font-size: 30px;
        width: 30px;
        text-align: center;        
    }
    .side-nav ul li a{
        text-align: center;
    }
}
@media screen and (min-width: 800px){
    .side-nav{
        width: 220px;
    }
    .side-nav ul li a{
        text-align: left;
        font-size: 16px;
        
    }
    .side-nav ul li samp:nth-child(2){
        display: inline-block;
        margin-left: 0;
        /*font-weight: 400;*/
    }
    .side-nav ul li a i {
        font-size: 18px;
    }
    .side-nav .logo i {
            padding-left: 0;
    }
}